 .u-section-1 {
  min-height: 1030px;
}

.u-section-1 .u-image-1 {
  height: 998px;
  margin-top: 1px;
  margin-bottom: 0;
  object-position: 0% 0%;
  background-position: 0% 0%;
}

.u-section-1 .u-image-2 {
  width: 637px;
  height: 600px;
  object-position: 50% 6.59%;
  background-position: 50% 6.59%;
  margin: -951px calc(((100% - 1140px) / 2) + -45px) 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -19px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 399px;
  background-image: none;
}

.u-section-1 .u-group-1 {
  width: 336px;
  min-height: 249px;
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 48px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 24px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  background-image: none;
  min-height: 399px;
}

.u-section-1 .u-group-2 {
  width: 336px;
  min-height: 249px;
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  margin: 48px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 24px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  background-image: none;
  min-height: 399px;
}

.u-section-1 .u-group-3 {
  width: 336px;
  min-height: 249px;
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-size: 2.25rem;
  margin: 35px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 24px 0 0;
}

.u-section-1 .u-group-4 {
  width: 548px;
  min-height: 463px;
  margin: -907px auto 444px calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 20px;
}

.u-section-1 .u-text-7 {
  margin-left: 0;
  margin-right: 0;
  font-size: 4.5rem;
}

.u-section-1 .u-text-8 {
  margin-left: 0;
  margin-right: 0;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  margin: 37px auto 30px 0;
  padding: 16px 54px 16px 53px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1056px;
  }

  .u-section-1 .u-image-1 {
    height: 955px;
  }

  .u-section-1 .u-image-2 {
    width: 538px;
    height: 572px;
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-1 .u-group-1 {
    width: 277px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-1 .u-group-2 {
    width: 277px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 329px;
  }

  .u-section-1 .u-group-3 {
    width: 277px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-group-4 {
    width: 447px;
    min-height: 397px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-container-layout-7 {
    padding-right: 16px;
  }

  .u-section-1 .u-text-7 {
    position: relative;
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-8 {
    position: relative;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    height: 926px;
  }

  .u-section-1 .u-image-2 {
    width: 417px;
    height: 465px;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 212px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-2 {
    width: 212px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-group-3 {
    width: 212px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-group-4 {
    width: 622px;
    min-height: 389px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-7 {
    font-size: 4.5rem;
    margin-top: 28px;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 18px;
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 39px;
    margin-bottom: 28px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2120px;
  }

  .u-section-1 .u-image-1 {
    height: 1006px;
  }

  .u-section-1 .u-image-2 {
    height: 464px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 72px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-group-1 {
    width: 500px;
    min-height: 353px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 64px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 35px;
  }

  .u-section-1 .u-group-2 {
    width: 500px;
    min-height: 353px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    margin-top: 35px;
  }

  .u-section-1 .u-group-3 {
    width: 500px;
    min-height: 353px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-group-4 {
    min-height: 397px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-1 .u-text-8 {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 37px;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1873px;
  }

  .u-section-1 .u-image-1 {
    height: 1026px;
  }

  .u-section-1 .u-image-2 {
    height: 431px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-group-1 {
    width: 300px;
    min-height: 310px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 32px;
    padding-right: 32px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 48px;
  }

  .u-section-1 .u-group-2 {
    width: 300px;
    min-height: 310px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 32px;
    padding-right: 32px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 48px;
  }

  .u-section-1 .u-group-3 {
    width: 292px;
    min-height: 310px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 32px;
    padding-right: 32px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-group-4 {
    min-height: 423px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-7 {
    font-size: 3rem;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 702px;
}

.u-section-2 .u-group-1 {
  width: 799px;
  min-height: 121px;
  margin: 42px auto 0;
}

.u-section-2 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 30px auto 42px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 496px;
}

.u-section-2 .u-image-1 {
  height: 350px;
  margin: 0 auto 45px 0;
}

.u-section-2 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 496px;
  background-image: none;
}

.u-section-2 .u-image-2 {
  height: 350px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 45px 20px 43px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 496px;
  background-image: none;
}

.u-section-2 .u-image-3 {
  height: 350px;
  margin: 0 auto 45px 0;
}

.u-section-2 .u-text-4 {
  margin-left: 20px;
  margin-right: 20px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 496px;
  background-image: none;
}

.u-section-2 .u-image-4 {
  height: 350px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: 45px 20px 43px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-2 .u-group-1 {
    width: 659px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-2 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 505px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 473px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 464px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 497px;
  background-image: url("../images/g92e97f6f4c5049373ef7032506375eb9a98f5ef0399b85a4237bc24f21f22c8c8c9d3065365c3008b8734faf7d6292d4b70de3ee6f501343f6b6f31c07f97f01_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-style: italic;
  margin: 273px 551px 0 309px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 356px;
  }

  .u-section-3 .u-image-1 {
    min-height: 410px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 92px;
    padding-right: 73px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-right: 451px;
    margin-left: 209px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 237px;
  }

  .u-section-3 .u-image-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 71px;
    padding-right: 56px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 341px;
    margin-left: 99px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 140px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 53px;
    padding-right: 42px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 251px;
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 32px;
  }

  .u-section-3 .u-image-1 {
    width: 440px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 48px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 60px;
    margin-left: 0;
  }
} .u-section-4 {
  min-height: 976px;
}

.u-section-4 .u-group-1 {
  min-height: 105px;
  width: 896px;
  margin: 73px auto 0 calc(((100% - 1140px) / 2) + 122px);
}

.u-section-4 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-4 .u-text-1 {
  margin: 10px 0;
}

.u-section-4 .u-image-1 {
  height: 714px;
  object-position: 50% 23.8%;
  background-position: 50% 23.8%;
  margin-top: 84px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 896px;
  margin: -737px auto 60px calc(((100% - 1140px) / 2) + 122px);
}

.u-section-4 .u-layout-cell-1 {
  min-height: 715px;
}

.u-section-4 .u-image-2 {
  height: 317px;
  width: 335px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 43px 20px 0;
}

.u-section-4 .u-text-3 {
  margin: 30px 20px 42px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 715px;
  background-image: none;
}

.u-section-4 .u-image-3 {
  height: 332px;
  width: 278px;
  margin: 0 auto 0 50px;
}

.u-section-4 .u-text-4 {
  margin: 28px 20px 0;
}

.u-section-4 .u-text-5 {
  margin: 30px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 739px;
    margin-right: calc(((100% - 1140px) / 2) + 100px);
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 739px;
    margin-top: -539px;
    margin-right: calc(((100% - 1140px) / 2) + 101px);
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 17px;
    margin-right: 17px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 361px;
  }

  .u-section-4 .u-group-1 {
    width: 566px;
    margin-right: calc(((100% - 1140px) / 2) + 77px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 566px;
    margin-top: -418px;
    margin-right: calc(((100% - 1140px) / 2) + 77px);
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 461px;
  }

  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 482px;
    margin-top: -319px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-4 .u-image-1 {
    object-position: 99.32% 23.8%;
    background-position: 99.32% 23.8%;
    margin-top: 869px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 304px;
    margin-top: -1455px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 667px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.75rem;
  width: 770px;
  margin: 60px auto 0;
}

.u-section-5 .u-line-1 {
  width: 65px;
  height: 5px;
  transform-origin: right center;
  margin: 30px auto 0;
}

.u-section-5 .u-text-2 {
  width: 672px;
  margin: 20px auto 0;
}

.u-section-5 .u-map-1 {
  height: 235px;
  margin-top: 219px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: -419px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 318px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-5 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  text-transform: none;
  font-size: 1.25rem;
  font-family: titillium-Web;
  font-weight: 700;
  margin: 30px -1px 0;
}

.u-section-5 .u-text-4 {
  margin: 20px -1px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 318px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-5 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  text-transform: none;
  font-size: 1.25rem;
  font-family: titillium-Web;
  font-weight: 700;
  margin: 30px -1px 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  background-image: none;
  align-self: center;
  text-decoration: underline !important;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 318px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-5 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  text-transform: none;
  font-size: 1.25rem;
  font-family: titillium-Web;
  font-weight: 700;
  margin: 30px -1px 0;
}

.u-section-5 .u-text-7 {
  margin: 20px -1px 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 848px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 262px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 262px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 262px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 850px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
    margin-top: 77px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1271px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    width: 540px;
    margin-top: 248px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 825px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.375rem;
    width: 340px;
    margin-top: 60px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }
}