 .u-section-1 {
  min-height: 1030px;
}

.u-section-1 .u-image-1 {
  height: 998px;
  margin-top: 1px;
  margin-bottom: 0;
  object-position: 0% 0%;
  background-position: 0% 0%;
}

.u-section-1 .u-image-2 {
  width: 637px;
  height: 600px;
  object-position: 50% 6.59%;
  background-position: 50% 6.59%;
  margin: -951px calc(((100% - 1140px) / 2) + -45px) 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -19px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 399px;
  background-image: none;
}

.u-section-1 .u-group-1 {
  width: 336px;
  min-height: 249px;
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 48px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 24px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  background-image: none;
  min-height: 399px;
}

.u-section-1 .u-group-2 {
  width: 336px;
  min-height: 249px;
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  margin: 48px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 24px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  background-image: none;
  min-height: 399px;
}

.u-section-1 .u-group-3 {
  width: 336px;
  min-height: 249px;
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.25);
  background-image: none;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-size: 2.25rem;
  margin: 35px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 24px 0 0;
}

.u-section-1 .u-group-4 {
  width: 682px;
  min-height: 463px;
  height: auto;
  margin: -881px auto 60px calc(((100% - 1140px) / 2) + -58px);
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-7 {
  font-size: 4.5rem;
  margin: 20px -37px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1056px;
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2) + -45px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-1 .u-group-1 {
    width: 277px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-1 .u-group-2 {
    width: 277px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 329px;
  }

  .u-section-1 .u-group-3 {
    width: 277px;
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-group-4 {
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-right: 16px;
  }

  .u-section-1 .u-text-7 {
    position: relative;
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2) + -45px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 212px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-2 {
    width: 212px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-group-3 {
    width: 212px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-group-4 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-7 {
    font-size: 4.5rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2120px;
  }

  .u-section-1 .u-image-2 {
    height: 509px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 72px;
  }

  .u-section-1 .u-group-1 {
    width: 500px;
    min-height: 353px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 64px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 35px;
  }

  .u-section-1 .u-group-2 {
    width: 500px;
    min-height: 353px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    margin-top: 35px;
  }

  .u-section-1 .u-group-3 {
    width: 500px;
    min-height: 353px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1873px;
  }

  .u-section-1 .u-image-2 {
    height: 320px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 300px;
    min-height: 310px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 32px;
    padding-right: 32px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 48px;
  }

  .u-section-1 .u-group-2 {
    width: 300px;
    min-height: 310px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 32px;
    padding-right: 32px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 48px;
  }

  .u-section-1 .u-group-3 {
    width: 292px;
    min-height: 310px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 32px;
    padding-right: 32px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-7 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: none;
  min-height: 667px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.75rem;
  width: 770px;
  margin: 60px auto 0;
}

.u-section-2 .u-line-1 {
  width: 65px;
  height: 5px;
  transform-origin: right center;
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  width: 672px;
  margin: 20px auto 0;
}

.u-section-2 .u-map-1 {
  height: 235px;
  margin-top: 219px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -419px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 318px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: none;
  font-size: 1.25rem;
  font-family: titillium-Web;
  font-weight: 700;
  margin: 30px -1px 0;
}

.u-section-2 .u-text-4 {
  margin: 20px -1px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 318px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  text-transform: none;
  font-size: 1.25rem;
  font-family: titillium-Web;
  font-weight: 700;
  margin: 30px -1px 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  background-image: none;
  align-self: center;
  text-decoration: underline !important;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 318px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  text-transform: none;
  font-size: 1.25rem;
  font-family: titillium-Web;
  font-weight: 700;
  margin: 30px -1px 0;
}

.u-section-2 .u-text-7 {
  margin: 20px -1px 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 848px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 262px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 262px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 262px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 850px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
    margin-top: 77px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1271px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: 540px;
    margin-top: 248px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 825px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.375rem;
    width: 340px;
    margin-top: 60px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }
}